/* Navbar */

#top_nav{
   background-color: #d9ab00; 
    padding: 0 8%;
    width: 103%;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 20px;
    padding-left: 25px;
}

#searchbox{
    background-color: #fcc302;
    color: white;
    border: 0px;
    border-radius: 0;
    position: relative;
    left: 45px;
    box-shadow: 5px 10px 11px 0px #00000021;
}

#searchbox::placeholder{
color: white;
}

#searchbtn{
    background-color: #00bec9;
    color: white;
    border: 0;
    border-radius: 0;
    padding: 8px 11px;
    z-index: 99;
}

@media only screen and (max-width:998px){
    #searchform{
        position: relative;
        left: -20px;
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:500px){
    #top_nav{
        padding: 0;
    }
}
@media only screen and (max-width:300px){
    .img-fluid{
        width: 177px;
    }
}

 /* banner */
#banner{
    background-color: #fcc302;
    padding-bottom: 20px;
}
#bannertxt h1{
    color: white;
    font-size: 70px;
    margin-top: 150px;
}
#bannertxt p{
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#banner-btn-1{
    background-color: #00bec9;
    border: 2px solid  #00bec9;
    color: white;
}
#banner-btn-2{
color:white;
border: 2px solid white;
margin-left: 15px;
}

@media only screen and (max-width:1300px){
    #bannertxt h1{
        font-size: 59px;
    }
    #banner{
        padding-bottom: 70px;
    }
}

@media only screen and (max-width:1025px){
    #bannertxt h1{
        font-size: 40px;
    }
    #bannerimg img{
        margin-top: 55px;
    }
}
@media only screen and (max-width:770px){
#bannertxt h1{
    margin-top:20px;
}
}
/* servises */
#servicetxt{
    padding-top: 10%;
    padding-bottom: 5%;

}
#service-btn{
    color: white;
    background-color:#fcc302;
    border: 2px solid #fcc302;
}

#serviceimg{
    padding: 5%;
    max-width: 90%;
}

@media only screen and (max-width:768px){
    #serviceimg{
        padding-top: 10%;

    }
}

/* counter */
#counter-section{
background-image: url(/images/counterbg.png);
padding-top: 70px;
padding-bottom: 70px;
background-position: center;
background-size: cover;
}

.icon{
    font-size: 70px;
    color: white;
}

/* blog */
#blog{
    padding-bottom: 70px;
    padding-top: 70px;
}
#blog-title{
    font-size: 50px;
    font-weight: bolder;
}
#blog-p{
    font-size: 20px;
    margin-bottom: 70px;
}
.article-detail{
    padding: 15px;
    border: 1px solid rgb(185,185,185);
    border-top: 0;
}
.article-date, .article-link{
    color: #00bec9;
}
@media only screen and (max-width:768px){
    #blog img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;   
    }
    .article-detail{
        border: none;
    }

}

/* footer */
#footer{
    background-color: #333333;
    padding: 80px;
   
}
#footer h5{
    color: white;
    font-weight: bold;
}
#footer a{
    color: white;
    text-decoration: none;
}
.ficon{
    color: white;
    font-size: 20px; 
    margin-left: 5px;
    
}
.footer-btn{
    color: white;
    background-color: #00bdc9;
    padding:10px 15px ;
    border: 0;
    border-radius: 0;
    
}
.footer-input{
    background-color: #d9ab00;
    padding: 10px 35px;
    border: 0;
    border-radius: 0;
    margin-bottom: 15px;
    
}
@media only screen and (max-width:820px){
    .footer-input{
        max-width: 220px;
    }
}
@media only screen and (max-width:481px){
    .footer-input{
        max-width: 150px;
    }
}


